
/*ë¶ˆí•„ìš”í•œ íš¨ê³¼*/
.ui-datepicker a:link,
.ui-datepicker a:hover {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*datepicker*/
div.hasDatepicker {
	display: block;
	padding: 0;
	overflow: visible;
	max-width: 500px;
	max-width: 80vw;
	width: 100%;
}

@media screen and (max-width: 500px) {
	div.hasDatepicker {
		max-width: initial;
		width: 100%;
	}
}

.ui-datepicker {
	overflow: visible;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.ui-datepicker .ui-datepicker-header {
	position:relative;
	height: 50px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	display: none;
	text-indent: -9999px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap !important;
}

.ui-datepicker .ui-datepicker-title {
	padding: 0 50px;
	text-align: center;
	font-size: 1em;
	color: #333;
	line-height: 50px;
}

.ui-datepicker-title .ui-datepicker-year:after {
	content: 'ë…„';
}

.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
	margin:0;
}
.ui-datepicker-calendar th {
	height: 30px;
	font-weight: normal;
	text-align: center;
}
.ui-datepicker-calendar th span {
	opacity: .7;
}
.ui-datepicker td span,
.ui-datepicker a {
	display: block;
	text-align: center;
	/* from .ui-btn class */
	font-size: 16px;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none !important;
}
/*ë‹¬ë ¥ì¼ë°˜*/
.ui-datepicker td a {
	font-weight: 400;
}

.ui-datepicker-calendar td {
	padding: 0;
	height: 46px;
}

.ui-datepicker-calendar td a,
.ui-datepicker-calendar td span {
	width: 44px;
	height: 44px;
	line-height: 44px;

	margin: 1.5px auto;
}

.ui-state-disabled {
	opacity: .3;
	cursor: default !important;
	pointer-events: none;
}

.ui-datepicker-calendar .ui-datepicker-week-end:first-child {
	/*sunday color*/
	color: #bc3a3f;
}

.ui-datepicker-calendar .ui-datepicker-week-end:last-child {
	/*saturday color*/
	color: #2a3ca2;
}

/***/
.ui-state-hover,
.ui-state-highlight,
.ui-state-active {
	border-radius: 50em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-state-hover {
	background-color: #eee;
}
.ui-state-highlight {
	/*border: 1px solid #a73439;*/
}
.ui-state-active,
.swiper-slide .btn_round.active {
	background-color: #a73439;
	color: #fff;
}

.ui-loader {
	display: none;
}

/*disable ìŠ¤íƒ€ì¼*/
.ui-state-disabled {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
}

/*
	ìŠ¤ì™€ì´í”„ datepicker
*/
.wh-100 {
	width: 100%;
	height: 100%;
}

.swiper-datapicker {
	/*margin: 0 1rem 1rem !important;*/
	padding-top: 1rem !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url('/imges/left_arrow.svg');
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url('/imges/right_arrow.svg');
}

.swiper-datapicker .swiper-button-next,
.swiper-datapicker .swiper-button-prev {
	top: 1.3rem;
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0;
	border: 12px solid #fff;
	box-sizing: content-box;
	background-size: 1.5rem 1.5rem;
	background-color: #fff;
}

.swiper-datapicker .swiper-button-next {
	right: 0;
}
.swiper-datapicker .swiper-button-prev {
	left: 0;
}

/*swiper time*/
.swiper-time,
.swiper-time2 {
	position: relative;
}

.swiper-slide .btn_round {
	width: 100%;
	height: 2.5rem;
	line-height: 2.4rem;
	display: inline-block;
	border: 1px solid #ddd;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	text-align: center;
	user-select: none;
}

.swiper-slide.done .btn_round {
	position: relative;
	color: #ccc;
	cursor: no-drop;
}
.btn_round .soldout {
	display: none;
	position: absolute;
	top: -3px;
	left: -7px;
	padding: 1px 2px;
	border: 1px solid #a73439;
	font-size: 90%;
	color: #a73439;
	line-height: 1;
	text-shadow: 0 0 3px #ffdbdd;
	transform: rotate(-12deg);
}
.swiper-slide.done .soldout{
	display: block;
}

/*main swiper*/
.main-swiper {
	background-color: #000;
}

.main-swiper .swiper-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-swiper .swiper-slide {
	background-size: cover;
	background-position: center;
}

.main-gallery-top {
	width: 100%;
	height: 54.5vw;
}

.main-gallery-thumbs {
	height: 11vw;
	box-sizing: border-box;
	padding: 1px 0;
}

.main-gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.main-gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

/*swiper pagination bottom*/
.tox_bullet .swiper-pagination-bullet {
	width: 16px;
	height: 3px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: 1;
	border-radius: 1px;
}

.tox_bullet.bullet_gray .swiper-pagination-bullet {
	background: #b9b9b9;
}

.tox_bullet .swiper-pagination-bullet-active,
.tox_bullet.bullet_gray .swiper-pagination-bullet-active {
	opacity: 1;
	background: #cb9f76;
}

/*bullet color*/
.obo-swiper .swiper-pagination-bullet {
	background: #fff;
}

.obo-swiper .swiper-pagination-bullet-active {
	background: #007aff;
}

