@charset "UTF-8";
/*
	@description: 라이브러리 스타일 오버라이드
*/


/*
swipe
*/
/*slide-swipe*/
.swiper-wrapper .swiper-slide { 
	width: auto;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}

/*페이지네이션 컨텐츠 밖으로*/
.pagin-bottom .swiper-wrapper { 
	padding-bottom: 2rem;
}

.pagin-bottom.swiper-container-horizontal>.swiper-pagination-bullets, 
.pagin-bottom .swiper-pagination-custom, 
.pagin-bottom .swiper-pagination-fraction { 
	bottom: 0;
}

/*패딩값*/
.basic-swiper.swiper-container,
.basic-swiper2.swiper-container { 
	padding: 1rem !important;
}

/*focuse none*/
.swiper-button-prev,
.swiper-button-next {
	outline: 0;
}

/*white arrow*/
.white-arrow .swiper-button-prev {
	background-image: url('/imges/left_arrow_w.svg');
}
.white-arrow .swiper-button-next {
	background-image: url('/imges/right_arrow_w.svg');
}
